[submodule "submodules/actr6"]
	path = submodules/actr6
	url = ssh://raid@cstanley.no-ip.biz/~/F/root/clayton.stanley/srv/git/actr6
[submodule "submodules/ccl"]
	path = submodules/ccl
	url = ssh://raid@cstanley.no-ip.biz/~/F/root/clayton.stanley/srv/git/ccl
[submodule "submodules/rmcl"]
	path = submodules/rmcl
	url = ssh://raid@cstanley.no-ip.biz/~/F/root/clayton.stanley/srv/git/rmcl.git
[submodule "submodules/lisp-dev"]
	path = submodules/lisp-dev
	url = ssh://raid@cstanley.no-ip.biz/~/F/root/clayton.stanley/srv/git/lisp-dev
