[submodule "submodules/actr6"]
	path = submodules/actr6
	url = ssh://chil/srv/git/actr6
[submodule "submodules/ccl"]
	path = submodules/ccl
	url = ssh://chil/srv/git/ccl
[submodule "submodules/rmcl"]
	path = submodules/rmcl
	url = ssh://chil/srv/git/rmcl
[submodule "submodules/lisp-dev"]
	path = submodules/lisp-dev
	url = ssh://chil/srv/git/lisp-dev
[submodule "submodules/ACT-R-VoteBox-Models"]
	path = submodules/ACT-R-VoteBox-Models
	url = ssh://chil/srv/git/ACT-R-VoteBox-Models
[submodule "submodules/X83-Frank-Trek-11"]
	path = submodules/X83-Frank-Trek-11
	url = ssh://chil/srv/git/X83-Frank-Trek-11
[submodule "submodules/kristenVotebox"]
	path = submodules/kristenVotebox
	url = ssh://chil/srv/git/kristenVotebox
[submodule "submodules/nextGen"]
	path = submodules/nextGen
	url = ssh://chil/srv/git/nextGen
[submodule "submodules/tambo-diss"]
	path = submodules/tambo-diss
	url = ssh://chil/srv/git/tambo-diss
[submodule "submodules/gallagher"]
	path = submodules/gallagher
	url = ssh://chil/srv/git/gallagher.git
[submodule "submodules/NSFMotor"]
	path = submodules/NSFMotor
	url = ssh://chil/srv/git/NSFMotor
[submodule "submodules/FittsErrorModel"]
	path = submodules/FittsErrorModel
	url = ssh://chil/srv/git/FittsErrorModel
[submodule "submodules/ccl-1.9"]
	path = submodules/ccl-1.9
	url = ssh://chil/srv/git/ccl-1.9
[submodule "submodules/actr6mcl"]
	path = submodules/actr6mcl
	url = ssh://chil/srv/git/actr6mcl
[submodule "submodules/stanley-thesis"]
	path = submodules/stanley-thesis
	url = ssh://chil/srv/git/stanley-thesis
[submodule "bincarbon/DMTracker"]
	path = bincarbon/DMTracker
	url = ssh://chil/srv/git/DMTracker
